*{
    margin: 5px;
}
body{
    background-color: #0079FF;
    font-family: 'Noto Sans Thai', sans-serif;
}
.island{
    text-align: center;
}
.taly{
    

}

div{
    
}
img{
    border: 10px solid #FF0060;
}
.contaner{
    display: flex;
    justify-content: center;
    
}
.good{
    border: 5px solid;
    
}
.bad{
    border: 5px solid;
}